<h1><%=identifier%>'s Events!!!!</h1>
  <h2>Events by Popularity</h2>
    <table width=300 border=1>
    <tr>
      <td width="200">Events</td>
      <td>Count</td>
    </tr>
    <tr>
      <% source.events.group_and_count(:event).each do |event| %></td>
      <td><%= event[:event] %></td>
      <td> <%=  event[:count] %></td> <br/></tr>
      <% end %>
    <br/>
  </table>


      <h2>All URLs</h2>
      <p>
        <% source.events.group_and_count(:event).each do |event| %>
          <a href="/sources/<%= identifier %>/events/<%= event[:event] %>"><%= event[:event] %></a><br/>
          <% end %>
          <br/>
      </p>
