<h1><%= event_name %></h1>
<h2>Times Received</h2>
<%= event.size %>
<h2>Hour By Breakdown</h2>
<table border = 1>
  <tr>
    <td width="100">Hour</td>
    <td>Number of Requests</td>
  </tr>
<p>
  <% for i in 0..23 do %>
    <% time = [] %>
    <% event.each do |e| %>
      <% time << e if e[:requestedAt2].strftime("%H") == "#{i.to_s.rjust(2, "0")}" %>
    <% end %>
    <% if i == 0 %>
    <tr><td>12 am</td><td><%= time.size %></td></tr>
    <% elsif i == 12 %>
    <tr><td>12 pm</td><td> <%= time.size %></td></tr>
    <% elsif i > 11 %>
    <tr><td><%= i - 12 %> pm </td><td><%= time.size %></td></tr>
    <% else %>
    <tr><td><%= i %> am</td><td><%= time.size %></td></tr>
    <% end %>
  <% end %>
</p>
</table>
