<h1><%=identifier%>'s Data!!!!</h1>
  <div id="urls">
    <table width=300 border=1>
    <tr>
      <td width="200">Site URL</td>
      <td>Requests</td>
    </tr>
    <tr>
      <% source.urls.group_and_count(:site_url).each do |url| %>
      <td><%= url[:site_url] %></td>
      <td> <%=  url[:count] %></td> <br/></tr>
      <% end %>
    <br/>
    </table>
  </div>

  <div id="browser">
  <table width=300 border=1>
    <tr>
      <td width="200">Browser</td>
      <td>OS</td>
    </tr>
    <tr>
      <% source.browsers.each do |browser| %>
      <td><%= browser[:browser] %></td>
      <td> <%=  browser[:os] %></td> <br/></tr>
      <% end %>
      <br/>
    </table>
  </div>

  <div id="resolution">
  <h2>Resolution</h2>
  <table width=300 border=1>
    <tr>
      <td width="200">Resolution</td>
      <td>Count</td>
    </tr>
    <tr>
      <% source.resolutions.group_and_count(:resolution).each do |resolution| %>
      <td><%= resolution[:resolution] %></td>
      <td> <%=  resolution[:count] %></td> <br/></tr>
      <% end %>
      <br/>
    </table>
  </div>

  <div id="response_time">
    <h2>Response Time(longest to shortest)</h2>
    <table width=300 border=1>
      <tr>
        <td width="200">Response Time(s)</td>
        <td>Count</td>
      </tr>
      <tr>
        <% source.response_times.group_and_count(:respondedIn).each do |time| %>
        <td><%= time[:respondedIn] %></td>
        <td> <%= time[:count] %></td> <br/></tr>
        <% end %>
        <br/>
      </table>
  </div>

  <div id="all_urls">
      <h2>All URLs</h2>
      <p>
        <% source.urls.group_and_count(:site_url).each do |url| %>
          <% if url[:site_url].split('/').size == 4 %>
          <a href="/sources/<%= identifier %>/urls/<%= url[:site_url].split("/")[-1] %>"><%= url[:site_url] %></a><br/>
          <% else %>
          <a href="/sources/<%= identifier %>/urls/<%= url[:site_url].split("/")[-2] + '/' + url[:site_url].split("/")[-1] %>"><%= url[:site_url] %></a><br/>
          <% end %>
        <% end %>
        <br/>
      </p>
  </div>

  <div id="event_link">
      <h2>Aggregate Event Data</h2>
      <p>
        <a href="/sources/<%=identifier%>/events">Click for all event data</a><br/>
      </p>
  </div>
