<h1>Urls</h1>
<p>
  <% response_times = [] %>
  <% verb_ids = [] %>
  <% referrers = [] %>
  <% user_agents = [] %>
  <% source.each do |url|%>
    <% response_times << url[:respondedIn] %>
    <% verb_ids << url[:requestType_id] %>
    <% referrers << url[:referredBy_id] %>
    <% user_agents << url[:userAgent_id] %>
  <% end %>
    <p id="longest_response"><b>Longest Response Time:</b> <%=response_times.max %></p>
    <p id="shortest_response"><b>Shortest Response Time:</b> <%=response_times.min %></p>
    <p id="avg_response"><b>Average Response Time:</b> <%=response_times.reduce(:+) / response_times.size%></p>
    <p id="verbs"><b>HTTP Verbs:</b> <% verb_ids.uniq.each do |id| %>
    <%= request_types.where(:id => id).to_a[0][:request] %>
    <% end %><br>
    <p id="referred_by"><b>Referred By:</b> <% referrers.uniq.each do |id| %>
    <%= referred_by.where(:id => id).to_a[0][:url] %>
    <% end %></p>
    <p id="user_agents"><b>User Agents:</b> <% user_agents.uniq.each do |id| %>
    <% user_agent = user_agents_db.where(:id => id).to_a[0] %>
    Browser: <%= user_agent[:browser]%> OS: <%= user_agent[:os] %>
    <% end %></p>
</p>
